<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./sprite_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,46}</string>
    <key>spriteSize</key>
    <string>{444,348}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,0},{444,348}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-17,46}</string>
    <key>spriteSize</key>
    <string>{406,348}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{446,0},{406,348}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,46}</string>
    <key>spriteSize</key>
    <string>{254,348}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{854,0},{254,348}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,46}</string>
    <key>spriteSize</key>
    <string>{398,348}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,700},{398,348}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-13,46}</string>
    <key>spriteSize</key>
    <string>{444,348}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,350},{444,348}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{17,46}</string>
    <key>spriteSize</key>
    <string>{406,348}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{446,350},{406,348}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,46}</string>
    <key>spriteSize</key>
    <string>{254,348}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{854,350},{254,348}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-21,46}</string>
    <key>spriteSize</key>
    <string>{398,348}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{400,700},{398,348}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1110,1050}</string>
   <key>textureFileName</key>
   <string>excavator.png</string>
  </dict>
 </dict>
</plist>
