<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./sprite_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{164,163}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{356,0},{164,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,2}</string>
    <key>spriteSize</key>
    <string>{338,163}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,330},{338,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,2}</string>
    <key>spriteSize</key>
    <string>{354,163}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,0},{354,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,2}</string>
    <key>spriteSize</key>
    <string>{338,163}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{340,330},{338,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{164,163}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{356,165},{164,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,2}</string>
    <key>spriteSize</key>
    <string>{338,163}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,495},{338,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{354,163}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,165},{354,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,2}</string>
    <key>spriteSize</key>
    <string>{338,163}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{340,495},{338,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{680,660}</string>
   <key>textureFileName</key>
   <string>garbagetruck.png</string>
  </dict>
 </dict>
</plist>
