<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./sprite_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-26}</string>
    <key>spriteSize</key>
    <string>{280,359}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,0},{280,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-26}</string>
    <key>spriteSize</key>
    <string>{206,359}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,361},{206,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-26}</string>
    <key>spriteSize</key>
    <string>{100,359}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{624,361},{100,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-26}</string>
    <key>spriteSize</key>
    <string>{206,359}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{208,361},{206,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-26}</string>
    <key>spriteSize</key>
    <string>{280,359}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{282,0},{280,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-26}</string>
    <key>spriteSize</key>
    <string>{206,359}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{416,361},{206,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-26}</string>
    <key>spriteSize</key>
    <string>{100,359}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{726,361},{100,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-26}</string>
    <key>spriteSize</key>
    <string>{206,359}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{564,0},{206,359}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{828,722}</string>
   <key>textureFileName</key>
   <string>knight.png</string>
  </dict>
 </dict>
</plist>
