<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./sprite_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-16}</string>
    <key>spriteSize</key>
    <string>{192,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{398,0},{192,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-16}</string>
    <key>spriteSize</key>
    <string>{366,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,336},{366,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-16}</string>
    <key>spriteSize</key>
    <string>{396,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,0},{396,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-16}</string>
    <key>spriteSize</key>
    <string>{366,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{368,336},{366,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-16}</string>
    <key>spriteSize</key>
    <string>{192,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{398,168},{192,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-16}</string>
    <key>spriteSize</key>
    <string>{366,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,504},{366,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-16}</string>
    <key>spriteSize</key>
    <string>{396,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,168},{396,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-16}</string>
    <key>spriteSize</key>
    <string>{366,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{368,504},{366,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{736,672}</string>
   <key>textureFileName</key>
   <string>policecar.png</string>
  </dict>
 </dict>
</plist>
