<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./sprite_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-16}</string>
    <key>spriteSize</key>
    <string>{192,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{332,336},{192,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-16}</string>
    <key>spriteSize</key>
    <string>{330,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,0},{330,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-16}</string>
    <key>spriteSize</key>
    <string>{326,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{332,0},{326,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-16}</string>
    <key>spriteSize</key>
    <string>{330,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,168},{330,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-16}</string>
    <key>spriteSize</key>
    <string>{192,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{332,504},{192,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-16}</string>
    <key>spriteSize</key>
    <string>{330,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,336},{330,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-16}</string>
    <key>spriteSize</key>
    <string>{326,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{332,168},{326,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sprite_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-16}</string>
    <key>spriteSize</key>
    <string>{330,166}</string>
    <key>spriteSourceSize</key>
    <string>{512,512}</string>
    <key>textureRect</key>
    <string>{{0,504},{330,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{660,672}</string>
   <key>textureFileName</key>
   <string>sedan.png</string>
  </dict>
 </dict>
</plist>
